Repository JupiterOne/managed-integration-template: changes, and which lint-staged commands are due for each by the changed paths.
All: remark ., prettier --write, eslint

.lintstagedrc:

{
  "*.md": [
    "remark .",
    "prettier --write",
    "git add"
  ],
  "*.ts": [
    "eslint",
    "prettier --write",
    "git add"
  ],
  "*.{js,json}": [
    "prettier --write",
    "git add"
  ]
}

Update travis build to node 12
  .travis.yml
Due: none

Update jest.config
  jest.config.js
Due: prettier --write

Upgrade dependencies
  package.json
  yarn.lock
Due: prettier --write

Remove unnecessary git add
  .lintstagedrc
Due: none

Update configs to latest patterns
  .babelrc
  .eslintrc
  .gitignore
  jest.config.js
  tsconfig.json
Due: prettier --write

Default to step based execution
  src/index.ts
Due: prettier --write, eslint

Add CODEOWNERS
  CODEOWNERS
Due: none

Require security team review for CODEOWNERS
  CODEOWNERS
Due: none

Added Security Files
  .github/workflows/codeql-analysis.yml
Due: none

Added Security Files
  .github/workflows/peril.yml
Due: none

Populate CODEOWENRS, baseline package.json and baseline cortex.yaml
  CODEOWNERS
  cortex.yaml
  package.json
Due: prettier --write

Fix x-cortex-service-groups where tier-4 was set incorrectly
  cortex.yaml
Due: none

Apply remove-codeql with multi-gitter [ci skip]
  .github/workflows/codeql-analysis.yml
Due: none
